.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .btn-lgout {
      padding: 10px 20px;
      background-color: #2462e7;
      border: none;
      outline: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #1b4cb6;
      }
    }
  }
}
