.chatList {
  flex: 1;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    z-index: 10;

    .searchBar {
      flex: 1;
      background-color: rgb(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
    .add {
      width: 36px;
      height: 36px;
      background-color: rgb(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      span {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #a7a7a7;
      }
    }

    &.unread {
      background-color: rgb(17, 25, 40, 0.35);

      .texts {
        span {
          font-weight: 700;
        }

        p {
          font-weight: 500;
          color: #e8e8e8;
        }
      }
    }
  }
}

/* ----------- scroll bar css ------------ */

::-webkit-scrollbar {
  width: 0px;
}

/* TODO: Scroll Bar - should have width but doesn't affect the Div */
/* ::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #181717;
  border-radius: 10px;
} */
